nav.menu
  - var menuItems = ["Главная", "Обо мне", "Навыки", "Работы", "Отзывы", "Связаться"];
  ul.menu__list 
    each item in menuItems
      li.menu__item(@click.prevent="isActive" :class="{[activeClass] : changed}")
        a.menu__link #{item}