include ../../../mixins.pug

nav.menu
  ul.menu__list 
    li.menu__item(v-for="item in menu" :class="{[activeClass] : activeItem == item.name}")
      a(@click.prevent='goToSection(item)').menu__link {{ item.name }}