include ../../../mixins.pug
.socials
  ul.socials__list
    each social in socials
        li.socials__item
          a(target="_blank" href=`${social.link}`).socials__link 
            +icon(social.name, "socials__icon")