.btn {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 30px 100px;
  color: white;
  border-radius: 30px 5px;
  background: linear-gradient(to right, rgba(74,0,237,1) -100% , rgba(147,0,232,1) 0%, rgba(74,0,237,1) 100%);
  transition: all .3s;
}

.btn:focus {
  outline: none;
}

.btn:hover {
  background: linear-gradient(to right, rgba(74,0,237,1) 0% , rgba(147,0,232,1) 100%, rgba(74,0,237,1) 200%);
}