.values-section {
  position: relative;
}

.values-section__triangles {
  position: absolute;
  bottom: 100%;
  width: 100%;
}

.triangles {
  display:flex;
  color: white;
}

.triangle {
  fill: currentColor;
}

.triangles__item {
  width: 50%;
  height: 100px;

  @include phones() {
    height: 30px;
  }
}