footer.footer
  .container
    .footer__wrapper
      .footer__left
        .footer__year
          p.footer__year-text © 2019
        .footer__author
          h3.footer__author-name Наталия Гаращенко
          p.footer__author-text Личный сайт веб-разработчика
      .footer__right
        .footer__menu
          include ./components/menu.pug
        .footer__info
          .footer__description
            p.footer__description-text Этот сайт я сделал в рамках обучения в Школе онлайн образования Loftschool
          .socials.socials--circle
            - var socials = ["insta", "vk", "github"]
            
            ul.socials__list
              each social in socials
                  li.socials__item
                    a(href="").socials__link 
                      +icon(social, "socials__icon")
        
        .footer__quote
          p.footer__quote-text Всегда пишите код так, будто сопровождать его будет склонный к насилию психопат, который знает где вы живете
          p.footer__quote-author Martin Golding



