header.header
  - var menuItems = ["Главная", "Обо мне", "Навыки", "Работы", "Отзывы", "Связаться"];
  .header__logo
    .logo NG

  .header__btns#menu-header
    include ./templates/components/menu.pug

  .header__socials
    include ./templates/components/socials.pug
    
    include ./templates/components/hamburger.pug