section.values-section
  .triangles.values-section__triangles
    svg(viewBox="0 0 1000 100" preserveAspectRatio="none").triangles__item.triangle
      polygon(points="0,0 0,100 1000,100")
    svg(viewBox="0 0 1000 100" preserveAspectRatio="none").triangles__item.triangle
      polygon(points="1000,0 1000,100 0,100")
  .container.values-section__wrapper
    .values-section__picture
      .values-section__image
        +image("content/backpack.png", "values-section__img")

    .values-section__container
      .values-section__title
      .values-section__title--content
        .longtitle
          h2.longtitle__text Чем я могу быть вам полезна  
          .longtitle__desc
            p Этот сайт я сделала в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
            
      .values-section__content
        include ./components/skills.pug