section.values-section.section#id-skills
  .triangles.values-section__triangles
    svg(viewBox="0 0 1000 100" preserveAspectRatio="none").triangles__item.triangle
      polygon(points="0,0 0,100 1000,100")
    svg(viewBox="0 0 1000 100" preserveAspectRatio="none").triangles__item.triangle
      polygon(points="1000,0 1000,100 0,100")
  .container.values-section__wrapper
    .values-section__picture

    .values-section__container
      .section__header.section__header--values
        h2.section__title Чем я могу быть вам полезна  
        .section__title-desc
          p.section__title-text Этот сайт я сделала в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
            
      .values-section__content
        #skills-widget