section.work-section.section
  .container
    .section__header
      h2.section__title Мои работы
    .section__wrapper     
      .work
        #work-widget
  .triangles.work-section__triangles
    svg(viewBox="0 0 1000 100" preserveAspectRatio="none").triangles__item.triangle
      polygon(points="0,0 1000,0 1000,100")
    svg(viewBox="0 0 1000 100" preserveAspectRatio="none").triangles__item.triangle
      polygon(points="0,0 0,100 1000,0")
