include ./mixins.pug
<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js")
    script(src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js")
    title Личный сайт веб-разработчика
  body
    .wrapper
      .wrapper__content
        .welcome-section
          .parallax
            .parallax__layer(data-speed="0.1")
              picture
                source(srcset="content/parallax/Sky.jpg" media="(max-width: 480px)")
                +image("content/parallax/Sky.jpg", "parallax__img")
            .parallax__layer(data-speed="0.15")
               picture
                source(srcset="content/parallax/Mountain.png" media="(max-width: 480px)")
                +image("content/parallax/Mountain.png", "parallax__img")
            .parallax__layer(data-speed="0.35")
              picture
                source(srcset="content/parallax/Baloon.png" media="(max-width: 480px)")
                +image("content/parallax/Baloon.png", "parallax__img")
            .parallax__layer(data-speed="0.23")
              picture
                source(srcset="content/parallax/Cloud.png" media="(max-width: 480px)")
                +image("content/parallax/Cloud.png", "parallax__img")
            .parallax__layer(data-speed="0.28")
              picture
                source(srcset="content/parallax/Man.png" media="(max-width: 480px)")
                +image("content/parallax/Man.png", "parallax__img")
            .parallax__layer(data-speed="0.35")
              picture
                source(srcset="content/parallax/Mountain-1.png" media="(max-width: 480px)")
                +image("content/parallax/Mountain-1.png", "parallax__img")
            .parallax__layer(data-speed="0.38")
              picture
                source(srcset="content/parallax/White.png" media="(max-width: 480px)")
                +image("content/parallax/White.png", "parallax__img")
          
          section.hero#id-home
            .container.hero__container
              include ./pages/header.pug

              .hero__content
                .user-data
                  .user-data__desc Личный сайт <br> веб-разработчика
                  .user-data__name 
                    h1.user-data__name-header Наталия<br>Гаращенко

              .hero__bottom-btn
                a(href="").scroll-down-btn 
                  span Скролл
                  +icon("scroll", "scroll-down-btn__svg")
          
          section.about-section#id-about
            .container
              .about
                .about__wrapper
                  .about__user-data
                    .user-info
                      .user-info__avatar
                        .avatar
                          +image("content/user.jpg", "avatar__img")
                      .user-info__content
                        -
                          var userdata = [
                            ["Проживаю:", "Калининград"],
                            ["Возраст:", "26 лет"],
                            ["В вебе:", "2 года"]
                          ];
                        table.user-info__data
                          tbody.user-info__data-body
                            each row in userdata
                              tr.user-info__row
                                td.user-info__cell #{row[0]}
                                td.user-info__cell #{row[1]}

                  .about__content
                    .about__info
                      .about__disclamer Привет! Меня зовут
                      h2.about__title Наталия Гаращенко
                      .about__desc
                        p.about__desc-text Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
                    .about__ps
                      p.about__ps-text Этот сайт я сделала в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
        
        include ./pages/values.pug

        include ./pages/work.pug

        include ./pages/closing-section.pug

      include ./pages/footer.pug
      include ./pages/templates/entry.pug




